body {
	width: 90%;
	margin: auto;
	background-image: url(../images/background.png);
    color: #DDDDDD;
    background-repeat: repeat;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-size: 40px;
}

div {
	display: inline-block;
	margin-top: 20px;
	margin-right: 2%;
	width: 31%;
}

.rightBlock {
	margin-right: 0px;
}

nav ul {
	margin: auto;
	padding: 0;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 26px;
	font-size: 12px;
	font-weight: bold;
	background-color: #333333;
    border: solid #333333;
    border-top: solid #454545;
    border-radius: 5px;
}

nav li {
	display: block;
	float: left;
	margin: auto;
	padding: 0;
}

nav li a {
	display: block;
	float: left;
	color: #999999;
	font-weight: bold;
	padding: 8px 20px 0 20px;
    text-decoration: none;
}

nav li a:hover {
	color: #FFFFFF;
	height: 18px;
    border-bottom: 3px solid #00b3f7;
}

nav li.active a {
	display: inline;
	height: 18px;
    border-bottom: 3px solid #00b3f7;
}

footer {
	text-align: center;
}
